.card {
  height: 100px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.h-link {
  padding: 10px;
  color: gray;
  font-size: 13px;
}

.order-details {
  padding: 10px;
}

.order-id {
  font-size: 19px;
  font-weight: 700;
  float: left;
}

.order-actions {
  float: right;
  padding-bottom: 10px;
}

.order-card {
  padding-top: 20px;
}

.order-card-col {
  border-right: 1px solid lightgrey;
}

.product-div {
  padding: 15px;
}

.product-table {
  padding: 15px;
  width: 100%;
}
